.temp {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: white;
}

.text-center-with-image {
    vertical-align: middle;
}


button {
    margin-top: 0.5rem;
    text-transform: none;
}