
<h4 class="center">
    Welcome to the 
    <span class="purple-text darken-4">WeatherApp</span>
    using
    <span class="purple-text darken-4">RapidAPI</span>
</h4>

<h5 class="center">To get weather data in real time, you can...</h5>

<div class="row">
    <div class="col s12"><a routerLink="/search" class="btn waves-effect">Search a city</a></div>
    <div class="col s12"><a routerLink="/geolocation" class="btn waves-effect">Use your current position</a></div>
    <div class="col s12"><a routerLink="/map" class="btn waves-effect">Click on the map</a></div>

</div>

<h6 class="center">Click on the next link to <a href="https://github.com/diegobarroso/weather" target="_blank">see the code</a></h6>

