<div class="fixed-action-btn toolbar hide-on-large-only">
    <a class="btn-floating btn-large">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li><a routerLink="/" class="collection-item"><i class="material-icons">home</i>Home</a></li>
        <li><a routerLink="/search" class="collection-item"><i class="material-icons">search</i>Search</a></li>
        <li><a routerLink="/geolocation" class="collection-item"><i class="material-icons">gps_fixed</i>Location</a></li>
        <li><a routerLink="/map" class="collection-item"><i class="material-icons">public</i>Map</a></li>
    </ul>
</div>